<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>安徽</key>
	<array>
		<dict>
			<key>2006</key>
			<array>
				<dict>
					<key>one</key>
					<string>566</string>
					<key>two</key>
					<string>504</string>
					<key>three</key>
					<string>474</string>
				</dict>
				<dict>
					<key>one</key>
					<string>573</string>
					<key>two</key>
					<string>523</string>
					<key>three</key>
					<string>493</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>2007</key>
			<array>
				<dict>
					<key>one</key>
					<string>563</string>
					<key>two</key>
					<string>505</string>
					<key>three</key>
					<string>476</string>
				</dict>
				<dict>
					<key>one</key>
					<string>551</string>
					<key>two</key>
					<string>515</string>
					<key>three</key>
					<string>493</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>2008</key>
			<array>
				<dict>
					<key>one</key>
					<string>563</string>
					<key>two</key>
					<string>507</string>
					<key>three</key>
					<string>489</string>
				</dict>
				<dict>
					<key>one</key>
					<string>553</string>
					<key>two</key>
					<string>513</string>
					<key>three</key>
					<string>500</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>2009</key>
			<array>
				<dict>
					<key>one</key>
					<string>579</string>
					<key>two</key>
					<string>520</string>
					<key>three</key>
					<string>498</string>
				</dict>
				<dict>
					<key>one</key>
					<string>543</string>
					<key>two</key>
					<string>501</string>
					<key>three</key>
					<string>488</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>2010</key>
			<array>
				<dict>
					<key>one</key>
					<string>562</string>
					<key>two</key>
					<string>507</string>
					<key>three</key>
					<string>477</string>
				</dict>
				<dict>
					<key>one</key>
					<string>573</string>
					<key>two</key>
					<string>534</string>
					<key>three</key>
					<string>516</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>2011</key>
			<array>
				<dict>
					<key>one</key>
					<string>534</string>
					<key>two</key>
					<string>477</string>
					<key>three</key>
					<string>439</string>
				</dict>
				<dict>
					<key>one</key>
					<string>547</string>
					<key>two</key>
					<string>510</string>
					<key>three</key>
					<string>487</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>2012</key>
			<array>
				<dict>
					<key>one</key>
					<string>544</string>
					<key>two</key>
					<string>478</string>
					<key>three</key>
					<string>431</string>
				</dict>
				<dict>
					<key>one</key>
					<string>577</string>
					<key>two</key>
					<string>541</string>
					<key>three</key>
					<string>512</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>2013</key>
			<array>
				<dict>
					<key>one</key>
					<string>490</string>
					<key>two</key>
					<string>429</string>
					<key>three</key>
					<string>387</string>
				</dict>
				<dict>
					<key>one</key>
					<string>540</string>
					<key>two</key>
					<string>498</string>
					<key>three</key>
					<string>458</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>北京</key>
	<array>
		<dict>
			<key>2006</key>
			<array>
				<dict>
					<key>one</key>
					<string>528</string>
					<key>two</key>
					<string>476</string>
					<key>three</key>
					<string>442</string>
				</dict>
				<dict>
					<key>one</key>
					<string>516</string>
					<key>two</key>
					<string>476</string>
					<key>three</key>
					<string>442</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>2007</key>
			<array>
				<dict>
					<key>one</key>
					<string>531</string>
					<key>two</key>
					<string>478</string>
					<key>three</key>
					<string>430</string>
				</dict>
				<dict>
					<key>one</key>
					<string>548</string>
					<key>two</key>
					<string>486</string>
					<key>three</key>
					<string>458</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>2008</key>
			<array>
				<dict>
					<key>one</key>
					<string>502</string>
					<key>two</key>
					<string>455</string>
					<key>three</key>
					<string>430</string>
				</dict>
				<dict>
					<key>one</key>
					<string>515</string>
					<key>two</key>
					<string>472</string>
					<key>three</key>
					<string>439</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>2009</key>
			<array>
				<dict>
					<key>one</key>
					<string>501</string>
					<key>two</key>
					<string>459</string>
					<key>three</key>
					<string>432</string>
				</dict>
				<dict>
					<key>one</key>
					<string>532</string>
					<key>two</key>
					<string>489</string>
					<key>three</key>
					<string>458</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>2010</key>
			<array>
				<dict>
					<key>one</key>
					<string>494</string>
					<key>two</key>
					<string>441</string>
					<key>three</key>
					<string>401</string>
				</dict>
				<dict>
					<key>one</key>
					<string>524</string>
					<key>two</key>
					<string>474</string>
					<key>three</key>
					<string>439</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>2011</key>
			<array>
				<dict>
					<key>one</key>
					<string>484</string>
					<key>two</key>
					<string>435</string>
					<key>three</key>
					<string>396</string>
				</dict>
				<dict>
					<key>one</key>
					<string>542</string>
					<key>two</key>
					<string>481</string>
					<key>three</key>
					<string>443</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>2012</key>
			<array>
				<dict>
					<key>one</key>
					<string>477</string>
					<key>two</key>
					<string>433</string>
					<key>three</key>
					<string>402</string>
				</dict>
				<dict>
					<key>one</key>
					<string>495</string>
					<key>two</key>
					<string>446</string>
					<key>three</key>
					<string>416</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>2013</key>
			<array>
				<dict>
					<key>one</key>
					<string>550</string>
					<key>two</key>
					<string>505</string>
					<key>three</key>
					<string>475</string>
				</dict>
				<dict>
					<key>one</key>
					<string>549</string>
					<key>two</key>
					<string>494</string>
					<key>three</key>
					<string>454</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>重庆</key>
	<array>
		<dict>
			<key>2006</key>
			<array>
				<dict>
					<key>one</key>
					<string>531</string>
					<key>two</key>
					<string>476</string>
					<key>three</key>
					<string>447</string>
				</dict>
				<dict>
					<key>one</key>
					<string>556</string>
					<key>two</key>
					<string>486</string>
					<key>three</key>
					<string>445</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>2007</key>
			<array>
				<dict>
					<key>one</key>
					<string>505</string>
					<key>two</key>
					<string>450</string>
					<key>three</key>
					<string>422</string>
				</dict>
				<dict>
					<key>one</key>
					<string>540</string>
					<key>two</key>
					<string>476</string>
					<key>three</key>
					<string>436</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>2008</key>
			<array>
				<dict>
					<key>one</key>
					<string>544</string>
					<key>two</key>
					<string>488</string>
					<key>three</key>
					<string>456</string>
				</dict>
				<dict>
					<key>one</key>
					<string>576</string>
					<key>two</key>
					<string>510</string>
					<key>three</key>
					<string>466</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>2009</key>
			<array>
				<dict>
					<key>one</key>
					<string>557</string>
					<key>two</key>
					<string>502</string>
					<key>three</key>
					<string>471</string>
				</dict>
				<dict>
					<key>one</key>
					<string>546</string>
					<key>two</key>
					<string>480</string>
					<key>three</key>
					<string>438</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>2010</key>
			<array>
				<dict>
					<key>one</key>
					<string>533</string>
					<key>two</key>
					<string>478</string>
					<key>three</key>
					<string>445</string>
				</dict>
				<dict>
					<key>one</key>
					<string>573</string>
					<key>two</key>
					<string>510</string>
					<key>three</key>
					<string>462</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>2011</key>
			<array>
				<dict>
					<key>one</key>
					<string>533</string>
					<key>two</key>
					<string>479</string>
					<key>three</key>
					<string>446</string>
				</dict>
				<dict>
					<key>one</key>
					<string>564</string>
					<key>two</key>
					<string>504</string>
					<key>three</key>
					<string>450</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>2012</key>
			<array>
				<dict>
					<key>one</key>
					<string>522</string>
					<key>two</key>
					<string>462</string>
					<key>three</key>
					<string>429</string>
				</dict>
				<dict>
					<key>one</key>
					<string>554</string>
					<key>two</key>
					<string>494</string>
					<key>three</key>
					<string>446</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>2013</key>
			<array>
				<dict>
					<key>one</key>
					<string>520</string>
					<key>two</key>
					<string>462</string>
					<key>three</key>
					<string>430</string>
				</dict>
				<dict>
					<key>one</key>
					<string>556</string>
					<key>two</key>
					<string>499</string>
					<key>three</key>
					<string>457</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
